.icon-48-groepen {
      background-image: url(../images/l_groepen.png);
      padding-left:60px!important;
}

.icon-48-groep {
      background-image: url(../images/l_groepen.png);
      padding-left:60px!important;
}

